body{
font-family: Arial;
background:#f4f6fb;
margin:0;
padding:20px;
}

h1{
text-align:center;
}

.dashboard{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.full{
grid-column:1/3;
}
